//Pug page router
case path
    when '/'
        include pages/home

    when 'home'
        include pages/home

    when 'Контакты'
        include pages/contact

    default
        include pages/404